<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @shoot.date %>
</p>
<p>
  <b>Name:</b>
  <%= @shoot.name %>
</p>
<p>
  <b>Crew requirements:</b>
  <%= raw @shoot.crew_requirements %>
</p>

<p>
  <b>Location:</b>
  <%= raw @shoot.location %>
</p>
<p>
  <b>Cameraperson:</b>
  <%= @shoot.cameraperson ? html_escape(@shoot.cameraperson.first_name + ' ' + @shoot.cameraperson.last_name) : "" %>
</p>
<% if @valid_staff %>
  <% if @valid_staff.is_senior_producer == true %>
    <p>
      <b>Senior approval:</b>
      <%= @shoot.senior_approval %>
    </p>
  <% end %>
<% end %>
<% if @valid_staff %>
  <% if @valid_staff.is_assignment_editor  == true %>
    <p>
      <b>Assigned:</b>
      <%= @shoot.assigned %>
    </p>
  <% end %>
<% end %>
<p>
  <b>Notes:</b>
  <%= raw @shoot.notes %>
</p>

<p>
  <b>Preshow tease:</b>
  <%= raw @shoot.preshow_tease %>
</p>

<% if @valid_staff %>
  <% if @valid_staff.is_senior_producer == true or @valid_staff.is_assignment_editor  == true or @valid_staff.is_producer == true %>
    <%= link_to 'Edit', edit_shoot_path(@shoot) %> |
  <% end %>
<% end %>
<%= link_to 'Back', url_for(:back) %>
