<% if params[:story] and params[:story][:approved] == '1' %>
  <h1>Listing Stories</h1>
<% else %>
  <h1>Listing Pitches</h1>
<% end %>
<%= form_for :story, :remote => true, :html => { :method => :get} do |f| %>
  <%= f.hidden_field :approved , :value =>params[:story] ? params[:story][:approved] : '0'  %>
  <table>
    <tr>
      <td>
        <%= f.label :name %>
      </td>
      <td>
        <%= f.text_field :name, :value => params[:story] ? params[:story][:name] : '' %>
      </td>
    </tr>
  </table>
  <%= f.label :producer %>
  <%= f.select(:producer_id, Staff.find(:all, :order => 'first_name asc, last_name asc').collect {|c| [c.first_name + ' ' + c.last_name, c.id ] },  :selected  => params[:story] ? params[:story][:producer_id] : '', :include_blank => true) %>
  <%= f.label :correspondent %>
  <%= f.select(:correspondent_id, Staff.find(:all, :order => 'first_name asc, last_name asc').collect {|c| [c.first_name + ' ' + c.last_name, c.id ] },  :selected  => params[:story] ? params[:story][:correspondent_id] : '', :include_blank => true) %>
  <%= f.label :editor %>
  <%= f.select(:editor_id, Staff.find(:all, :order => 'first_name asc, last_name asc').collect {|c| [c.first_name + ' ' + c.last_name, c.id ] },  :selected  => params[:story] ? params[:story][:editor_id] : '', :include_blank => true) %>
  <%= f.label "Show Archived" %>
  <%= f.check_box :archived, :value => params[:story] ? params[:story][:archived] : false %>
  <br />
  <%= submit_tag("Search") %>
  <%= render "search_results" %>
  Display <%= f.select(:record_number, [[10,10], [20, 20], [50, 50], [100, 100]] , :selected => params[:story] ? params[:story][:record_number] : 10) %> records

  <br/>
  <% if params[:story] and params[:story][:approved] == '1' %>
    <%= link_to 'New Story', new_story_path(:story =>{:approved => 1}) %>
    <%= link_to 'Tags', :controller => "stories", :action => "tag_list" %>

  <% else %>
    <%= link_to 'New Pitch', new_story_path %>

  <% end %>
<% end %>