<h1>Listing characters</h1>
<%= form_for :character, :remote => true, :html => { :method => :get} do |f| %>
  <table>
    <tr>

      <td>
        <%= f.label :first_name %>
      </td>
      <td>
        <%= f.text_field :first_name, :value => params[:character] ? params[:character][:first_name] : '' %>
      </td>
      <td>
        <%= f.label :last_name %>
      </td>
      <td>
        <%= f.text_field :last_name, :value => params[:character] ? params[:character][:last_name] : '' %>
      </td>
      <td>
        <%= f.label :story  %>
      </td><td>
        <%= text_field_with_auto_complete :story, :name ,:value => params[:story] ? params[:story][:name] : (Story.find_by_id(session[:story_id]) ? Story.find_by_id(session[:story_id]).name : '') %>
      </td>
    </tr>
  </table>
  <%= submit_tag("Search") %>
  <%= render "search_results" %>
  Display <%= f.select(:record_number, [[10,10], [20, 20], [50, 50], [100, 100]] , :selected => params[:character] ? params[:character][:record_number] : 10) %> records

  <br/>

  <%= link_to 'New Character', new_character_path %>
  <%= link_to 'Back', stories_path(:story =>{:approved => 1}) %>
  <%= link_to 'Tags', :controller => "characters", :action => "tag_list" %>
<% end %>