<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @webextra.title %>
</p>
<p>
  <b>Name:</b>
  <%= @webextra.name %>
</p>

<p>
  <b>Summary:</b>
  <%= raw  @webextra.summary %>
</p>



<div id='mediaspace'>No Video</div>

<script type='text/javascript'>
  jwplayer('mediaspace').setup({
    'flashplayer': 'http://<%= request.host_with_port %>/player.swf',
    'file': '<%= @webextra.videourl %>',
    'controlbar': 'bottom',
    'width': '470',
    'height': '320'
  });
</script>
<% if @valid_staff %>
  <% if @valid_staff.is_senior_producer == true or @valid_staff.is_assignment_editor  == true or @valid_staff.is_producer == true %>
    <%= link_to 'Edit', edit_webextra_path(@webextra) %> |
  <% end %>
<% end %>
<%= link_to 'Back', url_for(:back) %>
